@page
@model DNASS.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label>
                Название
            </label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            <label>
                Описание
            </label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            <label>
                Цена
            </label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Cost)
        </dd>
        <dt class="col-sm-2">
            <label>
                Скидка
            </label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Skidka)
        </dd>
        <dt class="col-sm-2">
            <label>
                Категория
            </label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Редактироровать</a> |
    <a asp-page="./Index">К списку</a>
</div>
